# log files
*.log

# Annoying Office temp files
*~$*
~WR*

# VSCode files
*.vscode

# ignoring git files
*.gitconfig
.gitattributes

# data and analyses
data_and_analyses/*

# resources
resources/*

# archive
archive/*